<h1>All Posts</h1>
<h2><%= link_to "New Post", new_post_path %></h2>
<% @posts.each do |post| %>
    <div class="media">
        <div class="media-body">
            <h4 class="media-heading">
                <%= @posts.index(post) + 1 %><%= link_to post.title, post %>
            </h4>
        </div>
    </div>
<% end %>